# Código 

### coordenadas 

terminal: -22,00536655623292, -47.88947534745557
Suzantur: -22,038583068420614, -47.87408229249609
av são carlos: -22.028989338820423, -47.89057143765615
longe1: -21.98263692887776, -47.884648745846015
longe2: -22.05134704383444, -47.896302752011245
longe3: -21,98624108944486, -47.93243636049348

In [ ]:
import sqlite3

# conn = connection
conn = sqlite3.connect('teste_sancathon.sqlite')
cursor = conn.cursor()

cursor.execute('DROP TABLE IF EXISTS Counts')

cursor.execute('''
CREATE TABLE Location (adress TEXT, lat REAL, long REAL)'''
)

a1 = {'adress': 'terminal','lat': -22.00536655623292,'long': -47.88947534745557}
a2 = {'adress': 'Suzantur','lat': -22.038583068420614,'long': -47.87408229249609}
a3 = {'adress': 'longe3','lat': -21.98624108944486,'long': -47.93243636049348}

command = f"INSERT INTO  Location (adress, lat, long) VALUES ({a1['adress']}, {a1['lat']}, {a3['long']})"
cursor.execute(command)